@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cutive+Mono&family=Zen+Tokyo+Zoo&display=swap');

.project-section-start{
    text-align: start;
}

.projects{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project1 .project2{
    display: flex;
    flex-direction: column;
}

.project1{
    margin-top: 2%;
}

.project2{
    margin-top: 13%;
}

.project-title{
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 15%;
    cursor: pointer;

}