@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cutive+Mono&family=Zen+Tokyo+Zoo&display=swap");

.navbar {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  margin-top: 4%;
}

.navbar-light {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  margin-top: 4%;
}

.navbar-title {
  font-family: cutive mono;
  color: white;
  font-size: 1rem;
  font-weight: 100;
  cursor: pointer;
  opacity: 0.6;
}

input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    height: 11px;
    width: 11px;
    border: 2px solid white;
}

input[type="checkbox"]:checked{
    border: 2px solid rgb(58, 58, 58);
}

.navbar-title:hover {
  opacity: 1;
}

.theme-mode {
  margin: 0;
  color: white;
}

.theme-mode-light {
  margin: 0;
  color: black;
  font-weight: bold;
}

@media (max-width: 500px) {
  .navbar {
    margin: 0;
  }
}
