.dark {
  border: 2px solid white;
  box-shadow: 0px 0px 32px -6px rgb(255, 247, 236);
  margin: 0.5rem 4rem 0.5rem 4rem;
  padding-left: 2%;
  position: relative;
  background: #1a1a1a;
  color: white;
}

.light {
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0px 0px 12px -15px rgb(255, 247, 236);
  margin: 0.5rem 4rem 0.5rem 4rem;
  padding-left: 2%;
  position: relative;
  background: #ffffff;
  color: #1a1a1a;
}

.dark:before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(blue 10%, orange 50%, rgb(255, 2, 145) 100%);
  filter: blur(20px);
}

.dark:after {
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: inherit;
}

.light:before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  filter: blur(20px);
}

.light:after {
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: inherit;
}

.progess-scrollbar {
  position: fixed;
  background: linear-gradient(
    45deg,
    rgb(8, 8, 141),
    rgb(115, 11, 149),
    rgb(244, 196, 106),
    rgb(116, 18, 47)
  );
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  transform-origin: 0%;
  z-index: 999;
  opacity: 0.8;
}

.progess-scrollbar-light {
  position: fixed;
  background-color: #1a1a1a;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  transform-origin: 0%;
  z-index: 999;
}

@media (max-width: 500px) {
  .dark {
    margin: 0 1rem;
    width: 100%;
  }

  .light {
    margin: 0 1rem;
    width: 100%;
  }
}
