@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cutive+Mono&family=Zen+Tokyo+Zoo&display=swap');

.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
    padding-bottom: 10%;
    margin-bottom: 5%;
}

.scrolling-text-container {
    width: 100%;
    overflow: hidden;
  }
  
  .scrolling-text {
    margin-top: 23%;
    margin-bottom: 12%;
    white-space: nowrap;
    animation: scroll-left 20s linear infinite;
    font-size: 2.5rem;
  }

  .contact-h2:hover{
    text-shadow: 0px 1px 11px #efefef;
  transition: ease-in-out 0.3s;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @media (max-width: 500px) {
  
    .scrolling-text {
      font-size: 1.5rem;
    }
    
    .contact h2{
      font-size: 1rem;
    }

    .contact{
      height: 30vh;
    }

  }